body{
  margin-left:420px;
  margin-right:420px;
  overflow:hidden;
}


ul {
  list-style-type: none;
  margin : 0;
  padding : 0;
  overflow: hidden;
  width: 705px;
  align: center;
  border-top:1px solid #000;
  border-bottom:1px solid #000;
  background-color:#F6F6F6;

}

li a {
  display: inline-block;
  color: #000;
  text-aling : center;
  padding: 5px 40px 5px 40px;
  text-decoration : none;
}
li {
  display: inline;
  font-family: arial, sans;
  padding : 3px 2px 3px 2px;
  float:left;

}

li a:hover {
  background-color: #D8D8D8;
  color: white;
}

